@model User



<div class="card rounded shadow p-4">
  <!-- Title bar -->
  <div class="border-bottom d-flex align-items-center justify-content-between mb-3">
    <h3>Delete User</h3>
  </div>

  <h4 class="my-3 text-danger">Are you sure?</h4>

  <dl class="row">
    <dt class="col-4 pb-1">Forename</dt>
    <dd class="col-8 pb-1">@Model.Forename</dd>

    <dt class="col-4 pb-1">Surname</dt>
    <dd class="col-8 pb-1">@Model.Surname</dd>

    <dt class="col-4 pb-1">Dob</dt>
    <dd class="col-8 pb-1">@Model.DoB</dd>

    <dt class="col-4 pb-1">Address</dt>
    <dd class="col-8 pb-1">@Model.Address</dd>

    <dt class="col-4 pb-1">Role</dt>
    <dd class="col-8 pb-1">@Model.Role</dd>
  </dl>

  <div class="mt-4">
    <form asp-action="DeleteConfirm">
      
      <input type="hidden" asp-for="UId" />

      <button type="submit" class="btn btn-lg btn-danger mr-3" aria-label="delete">Delete</button>
      <a class="btn btn-lg btn-secondary" asp-action="Index">Cancel</a>
    </form>
  </div>
</div>